@{
    ViewBag.Title = "Home Page";
}
<form action="../Home/Person" method="post">
    <label for="i" class="col-md-3">Search By Person</label>
    <input type="number" name="i" value="" placeholder="PersonId" />
    <input type="submit" name="submit" value="Get Person" />

</form>
<form action="../Home/Planet" method="post">
    <label for="i" class="col-md-3">Search By Planet label</label>
    <input type="number" name="i" value="" placeholder="PlanetId" />
    <input type="submit" name="submit" value="Get Planet" />

</form>
